In [1]:
var1 = input()

hi

In [2]:
var2 = [1,2+3j,"michael",3.4]

In [3]:
var3 = float(input())

5.6

tup1=(52,"hina",3.14,5-7j)

In [21]:
#question 2

In [31]:
# 1. string , 2. string, 3. list , 4. integer

In [32]:
#question 3

In [46]:
# 1. "/" : returns the complete disvision of the given number

In [ ]:
# 2. "%" : returns the remainder

In [44]:
# 3. "//" : returns the quotient

In [47]:
# 4. "**": returns power

In [49]:
3/2

1.5

In [50]:
3//2

1

In [51]:
3%2

1

In [52]:
3**2

9

In [69]:
lst1 = [1,{"key":"value"},None,5+6j,"ml","python",(20,30),89.8,3+9j,"kite"]

In [70]:
for elements in lst1:
    
    print("Element:",elements)
    item = type(elements)
    print("Type:",item)

Element: 1
Type: <class 'int'>
Element: {'key': 'value'}
Type: <class 'dict'>
Element: None
Type: <class 'NoneType'>
Element: (5+6j)
Type: <class 'complex'>
Element: ml
Type: <class 'str'>
Element: python
Type: <class 'str'>
Element: (20, 30)
Type: <class 'tuple'>
Element: 89.8
Type: <class 'float'>
Element: (3+9j)
Type: <class 'complex'>
Element: kite
Type: <class 'str'>

In [71]:
#question 5

In [73]:
A = int(input("Enter no. A : "))
B = int(input("Enter no. B: "))

div = 0
while A % B == 0:
    A = A/B
    div = div+1
    
if(div>0):
    print(f"The Elemnt A is divisible by B and it is divisible {div} no. of times.")
else:
    print("Element A is not divisible by B")

Enter no. A : 20
Enter no. B: 10
The Elemnt A is divisible by B and it is divisible 1 no. of times.

In [78]:

lst2 = [2,3,4,5,6,7,8,90,7,8,7,54,3,2,4,5,67,8,5,4,3,5,67,23,15]


for elements in lst2:
    if(elements % 3 == 0):
        print("element is divisible by 3")
    else:
        print("element is not divisible by 3")

element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3

In [79]:
# question 7

#mutable object : the objects which can be modified ie. there values can be changed after declaring them once are called mutable objects.
#ex: list
#immutable object : the objects which can't be modified once they get declared are known as immutable objects.
#ex : string

In [80]:
list3 = [2,3,4,5,6]
list3[4] = 8
list3

[2, 3, 4, 5, 8]

In [81]:
name = "heena"
name[2] = i
name

TypeError: 'str' object does not support item assignment